.Footer {
    text-align: center;
    color: white;
    background-color: #1C2444;
    padding-left: 50px;
    padding-right: 50px;
}

#filled-basic {
    border-radius: 5px;
    background-color: white;
}

#message {
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
}

.Social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.Copyright {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

@media (max-width: 600px) {
    .Social {
        flex-direction: row;
    }
}